<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>
        <ws2007HttpBinding>
          <binding name="nonSessionBinding">
            <security mode="Message"/>
          </binding>
        </ws2007HttpBinding>
      </bindings>
        <services>
            <service name="Artech.ConcurrentServiceInvocation.Service.CalculatorService">
                <endpoint bindingConfiguration="nonSessionBinding" address="http://127.0.0.1:3721/calculatorservice" binding="ws2007HttpBinding" contract="Artech.ConcurrentServiceInvocation.Service.Interface.ICalculator" />
            </service>
        </services>
    </system.serviceModel>
</configuration>